/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --height: 100vh;
    --logo-container-width: 35vw;
    --info-container-width: 65vw;
    --info-container-children: calc(var(--height)/3);
    --font-size: calc(13px + 0.5vw);
    --line-height: calc(1.1rem + 0.5vw);

    /* Color palette */
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
}

body {
    height: 100%;
}


/* Layout stuff */

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 1fr;
}


/* Navigation pane */

.navigation {
    grid-row: 1 / 3;
    background-color: aquamarine;
    height: 100%;
    display: grid;
    align-content: start;
    min-width: 130px;
    grid-template-rows: minmax(50px, 7vh) auto auto 1fr;
    gap: 3vh;
}

.navigation > div:nth-child(1),
.navigation > div:nth-child(2),
.navigation > div:nth-child(3) {
    margin-left: 1vh;
    .image > img {
        height: 18.5px;
        width: auto;
        margin-right: 1vh;
    }
}

.navigation > div:nth-child(1),
.navigation > div:nth-child(2) > ul > li,
.navigation > div:nth-child(3) > ul > li {
    display: flex;
    align-items: center;
}


/* Header */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: aqua;
    display: grid;
    grid-template: minmax(50px, 7vh) 1fr / 1fr;
    min-height: 75px;
}

.header img {
    height: 18.5px;
    width: auto;
}

.header > .header-row-1,
.header > .header-row-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 1vh;
    align-items: center;
}

.header-row-1 > div,
.header-row-2 > div {
    display: flex;
}

.header-row-1 > div:nth-child(1),
.header-row-2 > div:nth-child(1) {
    justify-content: start;
}

.header-row-1 > div:nth-child(2),
.header-row-2 > div:nth-child(2) {
    justify-content: end;
}


/* Content */

.content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-left: 10px;
    margin-top: 25px;
}

.content-projects {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    
}

.project {
    height: 150px;
    border-radius: 5px;
}

.content-sidebar {
    /* display: grid; */
    grid-row: 2 / 3;
}

.content p {
    grid-row: 1 / 2;
}

.announcements {
    margin-bottom: 50px;
}


/* Colors */

.container {
    background-color: var(--sky-200);
}

.project {
    background-color: var(--sky-100);
}

.navigation {
    background-color: var(--sky-500);
    color: var(--sky-100);
}

.header {
    background-color: var(--sky-50);
}

/* .image-home {
    filter: invert(1);
} */
