/* General styles */

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --height: 100vh;
    --logo-container-width: 35vw;
    --info-container-width: 65vw;
    --info-container-children: calc(var(--height)/3);
    --font-size: calc(13px + 0.5vw);
    --line-height: calc(1.1rem + 0.5vw);

    /* Color palette (Sky) */
    /* --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49; */

    /* Color palette (Zinc) */
    /* --sky-50: #fafafa;
    --sky-100: #f4f4f5;
    --sky-200: #e4e4e7;
    --sky-300: #d4d4d8;
    --sky-400: #a1a1aa;
    --sky-500: #71717a;
    --sky-600: #52525b;
    --sky-700: #3f3f46;
    --sky-800: #27272a;
    --sky-900: #18181b;
    --sky-950: #09090b; */

     /* Color palette (Stone) */
     --sky-50: #fafaf9;
     --sky-100: #f5f5f4;
     --sky-200: #e7e5e4;
     --sky-300: #d6d3d1;
     --sky-400: #a8a29e;
     --sky-500: #78716c;
     --sky-600: #57534e;
     --sky-700: #44403c;
     --sky-800: #292524;
     --sky-900: #1c1917;
     --sky-950: #0c0a09;
 

    --menu-icon-color: var(--sky-300);
    --menu-icon-color-hover: var(--sky-400);
}

html {
    font-family: 'Roboto-Light', sans-serif, serif;
    font-size: 14px;
    /* height: 100vh; */
    line-height: var(--line-height);
}

body {
    height: 100vh;
}


/* Layout stuff */

.container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    position: relative;
}


/* Navigation pane */

.navigation {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    height: 100%;
    display: grid;
    align-content: start;
    min-width: 200px;
    grid-template-rows: minmax(70px, 7vh) auto 1fr;
    font-size: 20px;
    position: relative;
    padding-top: 10px;
    /* justify-content: start; */


}

.navigation-header {
    /* padding-left: 20px; */
    font-size: 30px;
    color: var(--sky-100);
    /* position: absolute;
    top: 0px;
    left: 0px; */
    /* margin-left: auto;
    margin-right: auto; */
    justify-self: start;
    padding-left: 20px;
}

.navigation > div:nth-child(1),
.navigation > div:nth-child(2),
.navigation > div:nth-child(3) {
    position: relative;
    .image > svg {
        height: 20px;
        width: auto;
        margin-right: 2vh;
    }
}

.navigation > div:nth-child(2) {
    margin-top: 20px;
}

.navigation > div:nth-child(3) {
    margin-top: 20px;
}


.navigation > div:nth-child(2)::before,
.navigation > div:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    height: 0.5px;
    width: 80%;
    background-color: var(--sky-400);
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
    left: 20px;
}

.navigation > div:nth-child(1),
.navigation > div:nth-child(2) > ul > li,
.navigation > div:nth-child(3) > ul > li {
    display: flex;
    align-items: center;
}

.navigation ul > li {
    height: 45px;
    padding-left: 20px;
    cursor: pointer;
}


/* Header */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 8px;
    display: grid;
    grid-template: minmax(50px, 7vh) / 1fr;
    /* min-height: 50px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.075);
    /* height: 100px; */
    max-height: 100px;
}

.header svg {
    height: 25px;
    width: auto;
}

.header > .header-row-1 {
    display: grid;
    grid-template-columns: 1fr max-content;
    /* grid-template-rows: max-content; */
    column-gap: 15px;
}

.buttons-section {
    margin-right: auto;
    grid-column: 1 / 2;
}

.search-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.search-section > .profile-name {
    color: var(--sky-500);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-weight: bolder;
    margin-left: 25px;
}

.search-section > div:not(:last-child) {
    padding-left: 20px;
}

.buttons-section > .buttons > ul {
    display: flex;
    justify-content: left;
}

.header-row-1 > div {
    display: flex;
    align-items: center;
}

.header ul > li {
    padding-right: 20px;
    font-size: 20px;
    color: var(--sky-400);
    transition: all 0.1s ease-in-out;
}

.header ul > li:hover {
    cursor: pointer;
    /* font-size: 21px; */
    color: var(--sky-600);
}

.header ul > li:active {
    cursor: pointer;
    /* font-size: 21px; */
    color: var(--sky-200);
}

.search-bar input,
.search-bar input:not(:placeholder-shown) {
    background-color: var(--sky-200);
    border: none;
    color: var(--sky-500);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    background-image: none;
    transition: width 0.2s;
    
}

.search-bar input:focus,
.search-bar input:not(:focus):not(:placeholder-shown) {
    width: 250px;
    transition: width 0.4s;
}

.search-bar input:not(:focus):placeholder-shown {
    background-image: url(images/search-icon.svg);
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.profile-picture img {
    display: block;
}

input {
    font-size: 20px;
}


/* Content */

.content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 300px;
    grid-template-rows: min-content auto;
    gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.content-projects {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: max-content;
    gap: 15px;
}

.project {
    background-color: var(--sky-100);
    border-radius: 8px;
    height: 300px;
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.075);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
}

.project,
.trending,
.announcements {
    padding: 20px;

}

.header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project:hover {
    box-shadow: 0px 2px 10px  rgba(0, 0, 0, 0.50);
    transition: all 0.4s;
    outline: 2px solid var(--sky-200);
}

.project:hover .project-image {
    height: 70%;
    transition: all 0.4s ease-in-out;
}

.project-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    height: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.project-label {
    font-family: 'Roboto-Medium';
}

.project-buttons > .image > svg {
    height: 20px;
    width: auto;
    display: block;
}

.project-buttons {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    margin-top: auto;
    margin-left: auto;
}

.project-buttons > div {
    padding-left: 5px;
}

/* .project-description,
.project-buttons {
    margin-left: 20px;
    margin-right: 20px;
} */

.content-sidebar {
    grid-row: 2 / 3;   
}

.content-sidebar > p {
    font-size: 26px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.content-sidebar > div {
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.075);
    background-color: white;
    border-radius: 8px;
}

.content > p {
    grid-row: 1 / 2;
    font-size: 26px;
    padding-left: 20px;
}

.announcements {
    margin-bottom: 15px;
}

.announcement-label {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Roboto-Medium';
}

.announcement > a {
    color: #78716c;
    line-height: 30px;
}

.announcement > a:hover {
    color: #78716c75;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* border: #0c0a09 solid; */
    height: 0.5px;
    background-color: var(--sky-400)
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.trending-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    
}

.trending-item:not(:last-child) {
    margin-bottom: 20px;
}

/* Colors */

body {
    background-color: var(--sky-100);
}

.project {
    background-color: white;
}

.navigation {
    /* background-color: var(--sky-600); */
    /* background-color: #63370cbf; */
    background-color: #000000bf;
    color: var(--sky-300);
}

.header {
    background-color: white;
}


/* Effects */

.navigation li:hover {
    background-color: #6564616d;
    color: var(--sky-400);
    border-left: 3px var(--sky-400) solid;
    padding-left: 17px;
    /* cursor:pointer; */
}

.navigation li:hover > .image > svg {
    fill: var(--menu-icon-color-hover);
}

.navigation li:active {
    background-color: #3938366d;
    z-index: 1;
}